.flickr-img{
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 5px;
    min-height: 200px;
    margin-bottom: 30px;
    text-align: center;
}
.text h6
{
    font-size: 12px;
}
.flickr-img img{
    margin-bottom: 10px;
}